{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Signup page</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="signup">


				<div class="signup_field">
					<i class="signup_icon fas fa-user"></i>
					<input type="text" class="signup_input" placeholder="Firstname">
				</div>
				<div class="signup_field">
					<i class="signup_icon fas fa-lock"></i>
					<input type="text" class="signup_input" placeholder="Lastname">
				</div>
                <div class="signup_field">
					<i class="signup_icon fas fa-user"></i>
					<input type="text" class="signup_input" placeholder="Email">
				</div>
				<div class="signup_field">
					<i class="signup_icon fas fa-lock"></i>
					<input type="password" class="signup_input" placeholder="Password">
				</div>
                <div class="signup_field">
					<i class="signup_icon fas fa-lock"></i>
					<input type="password" class="signup_input" placeholder="Retype Password">
				</div>
                <div class="signup_field">
					<i class="signup_icon fas fa-lock"></i>
					<input type="text" class="signup_input" placeholder="Country">
				</div>




				<button class="button signup_submit">
					<span class="button__text">Submit</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-signup_icon fab fa-instagram"></a>
					<a href="#" class="social-signup_icon fab fa-facebook"></a>
					<a href="#" class="social-signup_icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<!-- partial -->
  
</body>
</html>